config cheburprobe 'main'
	option enabled '0'
	option probe_id ''
	option probe_token ''
	option mqtt_host 'wss://cheburcheck.ru/mqtt'
	option mqtt_port '443'
	option connection_timeout '30'
	option max_concurrent_tasks '8'
	option traceroute_max_hops '5'
	option traceroute_retries '3'
	option traceroute_control_hosts '3'
	option log_level 'info'

