{% extends 'base' %}

{% block content %}
    <i class="error-code" data-lucide="triangle-alert" width="196" height="196"></i>
    <h1 class="error-code">{{ status }} {{ reason }}</h1>
    <p class="text-muted text-lg">Что-то пошло не так. Возможно в запросе есть ошибка?</p>
{% endblock content %}
